:root{
    --color1: #4A4448;
    --color2: #756C71;
    --bg-page: #e9e7e9;
    --bg-input: #dfdcdf;
    --text-heading-sm: 12px;
    --text-body-sm: 14px;
    --text-heading-md: 16px;
    --text-title-md: 24px;
    /*--text-body-sm: 18px;*/
    --bg-boxes: #f4f1f2;
    --bg-tickets-box: #E9E7E9;
    --borders-default: #dfdcdf;
    font-family: 'Oxygen', sans-serif;
}

body{
    background-color: var(--bg-page);
}

.container-large{
    max-width: 912px;
    display: block;
    margin: auto;
    padding-bottom: 60px;
}
.container-large .subscribe .image{
    text-align: center;
    padding: 60px 0 30px 0;
}
.container-large .subscribe .image img{
    width: 120px;
}
.container-large .subscribe .insert-fidelity-card {
    position: relative;
    width: 400px;
    margin: auto;
}
.container-large .subscribe .insert-fidelity-card input{
    background-color: var(--bg-input);
    width: 400px;
    height: 56px;
    display: block;
    margin: auto;
    border-radius: 12px;
    border-style: none;
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.6);
    font-size: var(--text-heading-md);
    padding-left: 20px;
    outline: 0;
}
.container-large .subscribe .insert-fidelity-card img{
    position: absolute;
    top: 8px;
    right: 0;
    width: 42px;
    height: 42px;
}
.customer-grid-cols-2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;
    margin-top: 4rem;
}
.customer-grid-cols-2 .column-1 .customer{
    display: flex;
    background-color: var(--bg-boxes);
    padding: 10px;
    border-radius: 16px;
    border: solid 1px var(--borders-default);
}
.customer-grid-cols-2 .column-1 .customer .image img{
    width: 56px;
}
.customer-grid-cols-2 .column-1 .customer .descriptions{
    align-content: center;
    margin-left: 10px;
}
.customer-grid-cols-2 .column-1 .customer .descriptions .name h1{
    margin-block-start: 0;
    font-size: var(--text-heading-md);
    color: var(--color1);
}
.customer-grid-cols-2 .column-1 .customer .descriptions .customer-since h2{
    margin-block-end: 0;
    font-size: var(--text-heading-sm);
    color: var(--color2);
}
.customer-grid-cols-2 .column-1 .history{
    background-color: var(--bg-boxes);
    margin-top: 20px;
    border: solid 1px var(--borders-default);
    border-radius: 16px;
}
.customer-grid-cols-2 .column-1 .history-head{
    display: flex;
    position: relative;
    padding: 24px 20px 16px 20px;
    margin: 10px;
}
.customer-grid-cols-2 .column-1 .history .title{
    font-size: var(--text-heading-sm);
    color: var(--color2);
    font-weight: 500;
    text-transform: uppercase;
}
.customer-grid-cols-2 .column-1 .history .number-cuts{
    position: absolute;
    right: 10px;
    font-size: var(--text-heading-sm);
    color: var(--color2);
    font-weight: 500;
}
.customer-grid-cols-2 .column-1 .history .history-tickets{
    overflow-y: auto;
    height: 287px;
}
.customer-grid-cols-2 .column-1 .history .history-tickets .items .item{
    display: flex;
    align-items: center;
    position: relative;
    margin: 16px 10px;
    padding: 0 20px;
}
.customer-grid-cols-2 .column-1 .history .history-tickets .items .item h3, .customer-grid-cols-2 .column-1 .history .history-tickets .items .item h4{
    font-size: var(--text-heading-sm);
    margin-block: 0;
}
.customer-grid-cols-2 .column-1 .history .history-tickets .items .item .time h3{
    color: var(--color1);
}
.customer-grid-cols-2 .column-1 .history .history-tickets .items .item .time h4{
    color: var(--color2);
    margin-top: 2px;
}
.customer-grid-cols-2 .column-1 .history .history-tickets .items .item .img-check{
    position: absolute;
    right: 10px;
}
.customer-grid-cols-2 .column-1 .history .history-tickets .items .item .img-check img{
    width: 32px;
}
.customer-grid-cols-2 .column-2{
    display: inherit;
    gap: 15px;
}
.customer-grid-cols-2 .column-2 .progress-box{
    background-color: var(--bg-boxes);
    border: solid 1px var(--borders-default);
    border-radius: 20px;
    padding: 32px;
}
.customer-grid-cols-2 .column-2 .progress-box .info{
    display: flex;
    position: relative;
}
.customer-grid-cols-2 .column-2 .progress-box .info .descritive .title h1{
    margin-block: 0;
    font-size: var(--text-heading-sm);
    font-weight: 700;
    color: var(--color1);
    text-transform: uppercase;
}
.customer-grid-cols-2 .column-2 .progress-box .info .descritive .description h2{
    font-size: var(--text-heading-sm);
    color: var(--color2);
    font-weight: 300;
    margin-block: 0.5rem;
}
.customer-grid-cols-2 .column-2 .progress-box .info .user-id{
    align-items: center;
    display: flex;
    position: absolute;
    right: 0;
}
.customer-grid-cols-2 .column-2 .progress-box .info .user-id span{
    background-color: var(--bg-input);
    color: var(--color2);
    font-size: var(--text-body-sm);
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 50rem;
}
.customer-grid-cols-2 .column-2 .progress-box .accumulated-cards{
    margin-top: 1rem;
}
.customer-grid-cols-2 .column-2 .progress-box .accumulated-cards .tickets-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.customer-grid-cols-2 .column-2 .progress-box .accumulated-cards .tickets-grid .ticket{
    width: 88px;
    height: 88px;
    background-color: var(--bg-tickets-box);
    display: flex;
    justify-content: center;
    margin-top: 16px;
    align-items: center;
    border-radius: 20px;
}
.customer-grid-cols-2 .column-2 .progress-box .accumulated-cards .tickets-grid .ticket img{
    width: 50%;
}
.customer-grid-cols-2 .column-2 .remainder-cards .cuts-remain{
    display: flex;
    background-color: var(--bg-boxes);
    padding: 20px 32px;
    border-radius: 20px;
    border: solid 1px var(--borders-default);
}
.customer-grid-cols-2 .column-2 .remainder-cards .cuts-remain .left{
    display: grid;
    width: 85%;
}
.customer-grid-cols-2 .column-2 .remainder-cards .cuts-remain .left span b{
    color: var(--color1);
    font-size: var(--text-title-md);
}
.customer-grid-cols-2 .column-2 .remainder-cards .cuts-remain .left span{
    color: var(--color2);
    font-size: var(--text-heading-md);
    font-weight: 300;
}
.customer-grid-cols-2 .column-2 .remainder-cards .cuts-remain .left input{
    width: 85%;
}
.customer-grid-cols-2 .column-2 .remainder-cards .cuts-remain .left .side-side{
    display: flex;
}
.customer-grid-cols-2 .column-2 .remainder-cards .cuts-remain .left .side-side span{
    font-size: var(--text-heading-sm);
    padding-left: 0.5rem;
}
.customer-grid-cols-2 .column-2 .remainder-cards .cuts-remain .right{
    background-color: var(--bg-input);
    padding: 16px;
    border-radius: 50%;
    margin: auto 0 auto auto;
}
.customer-grid-cols-2 .column-2 .remainder-cards .cuts-remain .right img{
    width: 40px;
}


input[type="range"] {
    -webkit-appearance: none;
    appearance: none; 
    width: 40rem;
    height: 0.75rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 1rem;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--bg-input); /* Cor de fundo do thumb */
    height: 0.75rem;
    border-radius: 1rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    pointer-events: none;
    height: 0.75rem;
    width: 1rem;
    box-shadow: -50rem 0 5rem 20rem #2DAAAA,
                -40rem 0 5rem 30rem #856CCF,
                -30rem 0 2rem 25rem #D658B3,
                -25.5rem 0 0 25rem  hsl(335, 100%, 65%);
}