:root{
    --color1: #4A4448;
    --color2: #756C71;
    --bg-page: #e9e7e9;
    --bg-input: #dfdcdf;
    --text-heading-sm: 12px;
    --text-body-sm: 14px;
    --text-heading-md: 16px;
    --text-body-sm: 18px;
    --bg-boxes: #f4f1f2;
    --borders-default: #dfdcdf;
    font-family: 'Oxygen', sans-serif;
}

body{
    background-color: var(--bg-page);
}

.container-large{
    max-width: 1140px;
    display: block;
    margin: auto;
}
.container-large .subscribe .image{
    text-align: center;
    padding: 60px 0 30px 0;
}
.container-large .subscribe .image img{
    width: 150px;
}
.container-large .subscribe .insert-fidelity-card input{
    background-color: var(--bg-input);
    width: 400px;
    height: 56px;
    display: block;
    margin: auto;
    border-radius: 12px;
    border-style: none;
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.6);
    font-size: var(--text-heading-md);
    padding-left: 20px;
    outline: 0;
}
.customer-grid-cols-2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    margin-top: 4rem;
}
.customer-grid-cols-2 .column-1 .customer{
    display: flex;
    background-color: var(--bg-boxes);
    padding: 10px;
    border-radius: 16px;
    border: solid 1px var(--borders-default);
}
.customer-grid-cols-2 .column-1 .customer .image img{
    width: 56px;
}
.customer-grid-cols-2 .column-1 .customer .descriptions{
    align-content: center;
    margin-left: 10px;
}
.customer-grid-cols-2 .column-1 .customer .descriptions .name h1{
    margin-block-start: 0;
    font-size: var(--text-heading-md);
    color: var(--color1);
}
.customer-grid-cols-2 .column-1 .customer .descriptions .customer-since h2{
    margin-block-end: 0;
    font-size: var(--text-heading-sm);
    color: var(--color2);
}
.customer-grid-cols-2 .column-1 .history{
    background-color: var(--bg-boxes);
    margin-top: 20px;
    border-radius: 16px;
}
.customer-grid-cols-2 .column-1 .history-head{
    display: flex;
    position: relative;
    padding: 32px 20px 16px 20px;
    margin: 10px;
}
.customer-grid-cols-2 .column-1 .history .title{
    font-size: var(--text-heading-sm);
    color: var(--color2);
    font-weight: 500;
    text-transform: uppercase;
}
.customer-grid-cols-2 .column-1 .history .number-cuts{
    position: absolute;
    right: 10px;
    font-size: var(--text-heading-sm);
    color: var(--color2);
    font-weight: 500;
}
.customer-grid-cols-2 .column-1 .history .history-tickets{
    overflow-y: auto;
    height: 287px;
}
.customer-grid-cols-2 .column-1 .history .history-tickets .items .item{
    display: flex;
    align-items: center;
    position: relative;
    margin: 16px 10px;
    padding: 0 20px;
}
.customer-grid-cols-2 .column-1 .history .history-tickets .items .item h3, .customer-grid-cols-2 .column-1 .history .history-tickets .items .item h4{
    font-size: var(--text-heading-sm);
    margin-block: 0;
}
.customer-grid-cols-2 .column-1 .history .history-tickets .items .item .time h3{
    color: var(--color1);
}
.customer-grid-cols-2 .column-1 .history .history-tickets .items .item .time h4{
    color: var(--color2);
    margin-top: 2px;
}
.customer-grid-cols-2 .column-1 .history .history-tickets .items .item .img-check{
    position: absolute;
    right: 10px;
}
.customer-grid-cols-2 .column-1 .history .history-tickets .items .item .img-check img{
    width: 32px;
}
.customer-grid-cols-2 .column-2 .progress-box{
    background-color: var(--bg-boxes);
    padding: 20px;
}
.customer-grid-cols-2 .column-2 .progress-box .info{
    display: flex;
}
.customer-grid-cols-2 .column-2 .progress-box .info .descritive .title h1{
    margin-block: 0;
    font-size: var(--text-heading-sm);
    font-weight: 700;
    color: var(--color1);
    text-transform: uppercase;
}
.customer-grid-cols-2 .column-2 .progress-box .info .descritive .description h2{
    font-size: var(--text-heading-sm);
    color: var(--color2);
    font-weight: 300;
    margin-block: 0.5rem;
}
.customer-grid-cols-2 .column-2 .progress-box .info .user-id span{
    background-color: var(--bg-input);
    color: var(--color2);
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 50rem;
}